// dark-theme.scss
@import '@/styles/_variables';
@import '@/styles/_colors';

$dark-theme: (
  // headers related variables
  primaryColor: $clr-primary,

  backgroundBgActive: $gray-darkMode-800,
  backgroundBgBrandPrimary: $brand-500,
  backgroundBgBrandPrimaryAlt: $gray-darkMode-800,
  backgroundBgBrandSecondary: $brand-600,
  backgroundBgBrandSection: $gray-darkMode-800,
  backgroundBgBrandSectionSubtle: $gray-darkMode-950,
  backgroundBgBrandSolid: $brand-600,
  backgroundBgBrandSolidHover: $brand-500,
  backgroundBgDisabled: $gray-darkMode-800,
  backgroundBgDisabledSubtle: $gray-darkMode-900,
  backgroundBgErrorPrimary: $error-500,
  backgroundBgErrorSecondary: $error-600,
  backgroundBgErrorSolid: $error-600,
  backgroundBgOverlay: $gray-darkMode-800,
  backgroundBgPrimary: $gray-darkMode-950,
  backgroundBgPrimarySolid: $gray-darkMode-900,
  backgroundBgPrimaryAlt: $gray-darkMode-900,
  backgroundBgPrimaryHover: $gray-darkMode-800,
  backgroundBgQuaternary: $gray-darkMode-700,
  backgroundBgSecondary: $gray-darkMode-900,
  backgroundBgSecondarySolid: $gray-darkMode-600,
  backgroundBgSecondaryAlt: $gray-darkMode-950,
  backgroundBgSecondaryHover: $gray-darkMode-800,
  backgroundBgSecondarySubtle: $gray-darkMode-900,
  backgroundBgSuccessPrimary: $success-500,
  backgroundBgSuccessSecondary: $success-600,
  backgroundBgSuccessSolid: $success-600,
  backgroundBgTertiary: $gray-darkMode-800,
  backgroundBgWarningPrimary: $warning-500,
  backgroundBgWarningSecondary: $warning-600,
  backgroundBgWarningSolid: $warning-600,

  borderBrand: $brand-400,
  borderBrand-2: $brand-500,
  borderBrand-3: $gray-darkMode-700,
  borderDisabled: $gray-darkMode-700,
  borderDisabledSubtle: $gray-darkMode-800,
  borderError: $error-400,
  borderErrorSolid: $error-500,
  borderPrimary: $gray-darkMode-700,
  borderSecondary: $gray-darkMode-800,
  borderTertiary: $gray-darkMode-800,

  forGroundFgBrandPrimary: $brand-500,
  forGroundFgBrandPrimaryAlt: $gray-darkMode-300,
  forGroundFgBrandSecondary: $brand-500,
  forGroundFgDisabled: $gray-darkMode-500,
  forGroundFgDisabledSubtle: $gray-darkMode-600,
  forGroundFgErrorPrimary: $error-500,
  forGroundFgErrorSecondary: $error-400,
  forGroundFgPrimary: $base-white,
  forGroundFgQuaternary: $gray-darkMode-400,
  forGroundFgQuaternaryHover: $gray-darkMode-300,
  forGroundFgQuinary: $gray-darkMode-500,
  forGroundFgQuinaryHover: $gray-darkMode-400,
  forGroundFgSecondary: $gray-darkMode-300,
  forGroundFgSecondaryHover: $gray-darkMode-200,
  forGroundFgSenary: $gray-darkMode-600,
  forGroundFgSuccessPrimary: $success-500,
  forGroundFgSuccessSecondary: $success-400,
  forGroundFgTertiary: $gray-darkMode-400,
  forGroundFgTertiaryHover: $gray-darkMode-300,
  forGroundFgWarningPrimary: $warning-500,
  forGroundFgWarningSecondary: $warning-400,
  forGroundFgWhite: $base-white,

  textBrandPrimary: $gray-darkMode-50,
  textBrandSecondary: $gray-darkMode-300,
  textBrandTertiary: $gray-darkMode-400,
  textBrandTertiaryAlt: $gray-darkMode-50,
  textDisabled: $gray-darkMode-500,
  textErrorPrimary: $error-400,
  textPlaceholder: $gray-darkMode-400,
  textPlaceholderSubtle: $gray-darkMode-700,
  textPrimary: $gray-darkMode-50,
  textPrimaryOnBrand: $gray-darkMode-50,
  textQuaternary: $gray-darkMode-400,
  textQuaternaryOnBrand: $gray-darkMode-400,
  textSecondary: $gray-darkMode-300,
  textSecondaryHover: $gray-darkMode-200,
  textSecondaryOnBrand: $gray-darkMode-300,
  textSuccessPrimary: $success-400,
  textTertiary: $gray-darkMode-400,
  textTertiaryHover: $gray-darkMode-300,
  textTertiaryOnBrand: $gray-darkMode-400,
  textWarningPrimary: $warning-400,
  textWhite: $base-white,

  utilityBrand-100: $brand-900,
  utilityBrand-100-alt: $gray-darkMode-800,
  utilityBrand-200: $brand-800,
  utilityBrand-200-alt: $gray-darkMode-700,
  utilityBrand-300: $brand-700,
  utilityBrand-300-alt: $gray-darkMode-700,
  utilityBrand-400: $brand-600,
  utilityBrand-400-alt: $gray-darkMode-600,
  utilityBrand-50: $brand-950,
  utilityBrand-500: $brand-500,
  utilityBrand-500-alt: $gray-darkMode-500,
  utilityBrand-50-alt: $gray-darkMode-900,
  utilityBrand-600: $brand-400,
  utilityBrand-600-alt: $gray-darkMode-400,
  utilityBrand-700: $brand-300,
  utilityBrand-700-alt: $gray-darkMode-300,
  utilityBrand-800: $brand-200,
  utilityBrand-800-alt: $gray-darkMode-200,
  utilityBrand-900: $brand-100,
  utilityBrand-900-alt: $gray-darkMode-100,

  utilityError-100: $error-900,
  utilityError-200: $error-800,
  utilityError-300: $error-700,
  utilityError-400: $error-600,
  utilityError-50: $error-950,
  utilityError-500: $error-500,
  utilityError-600: $error-400,
  utilityError-700: $error-300,

  utilityGray-100: $gray-darkMode-800,
  utilityGray-200: $gray-darkMode-700,
  utilityGray-300: $gray-darkMode-700,
  utilityGray-400: $gray-darkMode-600,
  utilityGray-50: $gray-darkMode-900,
  utilityGray-500: $gray-darkMode-500,
  utilityGray-600: $gray-darkMode-400,
  utilityGray-700: $gray-darkMode-300,
  utilityGray-800: $gray-darkMode-200,
  utilityGray-900: $gray-darkMode-100,

  utilitySuccess-100: $success-900,
  utilitySuccess-200: $success-800,
  utilitySuccess-300: $success-700,
  utilitySuccess-400: $success-600,
  utilitySuccess-50: $success-950,
  utilitySuccess-500: $success-500,
  utilitySuccess-600: $success-400,
  utilitySuccess-700: $success-300,

  utilityWarning-100: $warning-900,
  utilityWarning-200: $warning-800,
  utilityWarning-300: $warning-700,
  utilityWarning-400: $warning-600,
  utilityWarning-50: $warning-950,
  utilityWarning-500: $warning-500,
  utilityWarning-600: $warning-400,
  utilityWarning-700: $warning-300,
);

[data-theme='dark'] {

  // Apply styles based on the dark theme
  @each $property, $value in $dark-theme {
    --#{$property}: #{$value};
  }
}