// light-theme.scss
@import '@/styles/_variables';
@import '@/styles/_colors';

$light-theme: (
  // Headers related variables
  primaryColor: $clr-primary,
  bgColor: $main-bg-color,
  // this color is white only #ffffff
  secBgColor: $sec-bg-color,
  textColor: $main-text-color,
  lightTextColor: $secondary-color-text,
  menuTextColor: $menu-text-color,
  selectedMenuBgColor: $selected-menu-bg-color,
  userInfoBgColor: #E6F5FF,
  borderColor: #E4E6EF,
  btnLinkColor: #005EA2,
  leftNavBgColor: #F8FAFC,
  successColor: #59B259,
  errorColor: #B50909,
  warningColor: #FF9103,
  drawerBgColor: #0000004d,
  loaderBgColor: #ffffffbf,
  tableEvenBgColor: #f0f6fb,
  addRoleWarning: #FFFACD,
  warningBgColor: #FFFF00,
  loginIconBg: #9C27B0,
  // Home page
  redColor: #FF9899,
  lightPinkColor: #FFF3F3,
  pinkColor: #FEDEDF,
  greenColor: #E9FFEA,

  // Social media colors
  facebook: #3B5998,
  whatsapp: #25D366,
  line: #4CB234,
  viber: #7D51A0,
  twitter: #00B6F1,
  youtube: #B31217,
  instagram: #C32AA3,

  //other
  blue: #1976D2,
  grey: #70757A,
  darkGrey: #505050,
  black: #1B1B1B,
  lightGrey: #DCDEE0,
  lightBlue: #ADD8E6,
  darkBlue: #42526E,
  greenWhite: #ECF3EC,
  redWhite: #F4E3DB,
  blueWhite: #E7F6F8,
  blueGrey: #30363D,
  green: #116530,

  //components
  //switch
  toggleStroke: #EFF2F5,
  //textfield
  labelColor: #A1A5B7,
  errorLabelColor: $clr-error,
  fieldBGColor: $clr-container-secondary,
  fieldIconColor: #666,
  //form label
  formLabelColor: #3F4254,




  white-1: #F0F0F0,
  white-2: #D0D5DD,
  white-3: #dfe1e2,
  white-4: #ccc,
  black-1: #101828,
  black-2: #171717,
  black-3: #000000,
  blue-grey-1: #475467,
  grey-1: #80808F,
  grey-2: #999,
  blue-1: #00A3FF,
  blue-2: #007dfd,
  dark-blue-1: #344054,
  dark-blue-2: #5E6278,
  blue-black-1: #181C32,
  light-purple-1: #E3DAFB,
  light-blue-1: #9BD0E7,


  backgroundBgActive: $gray-lightMode-50,
  backgroundBgBrandPrimary: $brand-50,
  backgroundBgBrandPrimaryAlt: $brand-50,
  backgroundBgBrandSecondary: $brand-100,
  backgroundBgBrandSection: $brand-800,
  backgroundBgBrandSectionSubtle: $brand-700,
  backgroundBgBrandSolid: $brand-600,
  backgroundBgBrandSolidHover: $brand-700,
  backgroundBgDisabled: $gray-lightMode-100,
  backgroundBgDisabledSubtle: $gray-lightMode-50,
  backgroundBgErrorPrimary: $error-50,
  backgroundBgErrorSecondary: $error-100,
  backgroundBgErrorSolid: $error-600,
  backgroundBgOverlay: $gray-lightMode-950,
  backgroundBgPrimary: $base-white,
  backgroundBgPrimarySolid: $gray-lightMode-950,
  backgroundBgPrimaryAlt: $base-white,
  backgroundBgPrimaryHover: $gray-lightMode-50,
  backgroundBgQuaternary: $gray-lightMode-200,
  backgroundBgSecondary: $gray-lightMode-50,
  backgroundBgSecondarySolid: $gray-lightMode-600,
  backgroundBgSecondaryAlt: $gray-lightMode-50,
  backgroundBgSecondaryHover: $gray-lightMode-100,
  backgroundBgSecondarySubtle: $gray-lightMode-25,
  backgroundBgSuccessPrimary: $success-50,
  backgroundBgSuccessSecondary: $success-100,
  backgroundBgSuccessSolid: $success-600,
  backgroundBgTertiary: $gray-lightMode-100,
  backgroundBgWarningPrimary: $warning-50,
  backgroundBgWarningSecondary: $warning-100,
  backgroundBgWarningSolid: $warning-600,

  borderBrand: $brand-300,
  borderBrand-2: $brand-600,
  borderBrand-3: $brand-600,
  borderDisabled: $gray-lightMode-300,
  borderDisabledSubtle: $gray-lightMode-200,
  borderError: $error-300,
  borderErrorSolid: $error-600,
  borderPrimary: $gray-lightMode-300,
  borderSecondary: $gray-lightMode-200,
  borderTertiary: $gray-lightMode-100,

  forGroundFgBrandPrimary: $brand-600,
  forGroundFgBrandPrimaryAlt: $brand-600,
  forGroundFgBrandSecondary: $brand-500,
  forGroundFgDisabled: $gray-lightMode-400,
  forGroundFgDisabledSubtle: $gray-lightMode-300,
  forGroundFgErrorPrimary: $error-600,
  forGroundFgErrorSecondary: $error-500,
  forGroundFgPrimary: $gray-lightMode-900,
  forGroundFgQuaternary: $gray-lightMode-500,
  forGroundFgQuaternaryHover: $gray-lightMode-600,
  forGroundFgQuinary: $gray-lightMode-400,
  forGroundFgQuinaryHover: $gray-lightMode-500,
  forGroundFgSecondary: $gray-lightMode-700,
  forGroundFgSecondaryHover: $gray-lightMode-800,
  forGroundFgSenary: $gray-lightMode-300,
  forGroundFgSuccessPrimary: $success-600,
  forGroundFgSuccessSecondary: $success-500,
  forGroundFgTertiary: $gray-lightMode-600,
  forGroundFgTertiaryHover: $gray-lightMode-700,
  forGroundFgWarningPrimary: $warning-600,
  forGroundFgWarningSecondary: $warning-500,
  forGroundFgWhite: $base-white,

  textBrandPrimary: $brand-900,
  textBrandSecondary: $brand-700,
  textBrandTertiary: $brand-600,
  textBrandTertiaryAlt: $brand-600,
  textDisabled: $gray-lightMode-500,
  textErrorPrimary: $error-600,
  textPlaceholder: $gray-lightMode-500,
  textPlaceholderSubtle: $gray-lightMode-300,
  textPrimary: $gray-lightMode-900,
  textPrimaryOnBrand: $base-white,
  textQuaternary: $gray-lightMode-500,
  textQuaternaryOnBrand: $brand-300,
  textSecondary: $gray-lightMode-700,
  textSecondaryHover: $gray-lightMode-800,
  textSecondaryOnBrand: $brand-200,
  textSuccessPrimary: $success-600,
  textTertiary: $gray-lightMode-600,
  textTertiaryHover: $gray-lightMode-700,
  textTertiaryOnBrand: $brand-200,
  textWarningPrimary: $warning-600,
  textWhite: $base-white,

  utilityBrand-100: $brand-100,
  utilityBrand-100-alt: $brand-100,
  utilityBrand-200: $brand-200,
  utilityBrand-200-alt: $brand-200,
  utilityBrand-300: $brand-300,
  utilityBrand-300-alt: $brand-300,
  utilityBrand-400: $brand-400,
  utilityBrand-400-alt: $brand-400,
  utilityBrand-50: $brand-50,
  utilityBrand-500: $brand-500,
  utilityBrand-500-alt: $brand-500,
  utilityBrand-50-alt: $brand-50,
  utilityBrand-600: $brand-600,
  utilityBrand-600-alt: $brand-600,
  utilityBrand-700: $brand-700,
  utilityBrand-700-alt: $brand-700,
  utilityBrand-800: $brand-800,
  utilityBrand-800-alt: $brand-800,
  utilityBrand-900: $brand-900,
  utilityBrand-900-alt: $brand-900,

  utilityError-100: $error-100,
  utilityError-200: $error-200,
  utilityError-300: $error-300,
  utilityError-400: $error-400,
  utilityError-50: $error-50,
  utilityError-500: $error-500,
  utilityError-600: $error-600,
  utilityError-700: $error-700,

  utilityGray-100: $gray-lightMode-100,
  utilityGray-200: $gray-lightMode-200,
  utilityGray-300: $gray-lightMode-300,
  utilityGray-400: $gray-lightMode-400,
  utilityGray-50: $gray-lightMode-50,
  utilityGray-500: $gray-lightMode-500,
  utilityGray-600: $gray-lightMode-600,
  utilityGray-700: $gray-lightMode-700,
  utilityGray-800: $gray-lightMode-800,
  utilityGray-900: $gray-lightMode-900,

  utilitySuccess-50: $success-50,
  utilitySuccess-100: $success-100,
  utilitySuccess-200: $success-200,
  utilitySuccess-300: $success-300,
  utilitySuccess-400: $success-400,
  utilitySuccess-500: $success-500,
  utilitySuccess-600: $success-600,
  utilitySuccess-700: $success-700,

  utilityWarning-100: $warning-100,
  utilityWarning-200: $warning-200,
  utilityWarning-300: $warning-300,
  utilityWarning-400: $warning-400,
  utilityWarning-50: $warning-50,
  utilityWarning-500: $warning-500,
  utilityWarning-600: $warning-600,
  utilityWarning-700: $warning-700,
);

:root,
[data-theme='light'] {

  // Apply styles based on the light theme
  @each $property, $value in $light-theme {
    --#{$property}: #{$value};
  }
}