$base-black: #000000;
$base-white: #ffffff;
$base-brand-1: #0160a3;
$base-brand-2: #0072bc;
$base-transparent: #ffffff00;

$alpha-black-light-10: #0000001a;
$alpha-black-light-20: #00000033;
$alpha-black-light-30: #0000004d;
$alpha-black-light-40: #00000066;
$alpha-black-light-50: #00000080;
$alpha-black-light-60: #00000099;
$alpha-black-light-70: #000000b2;
$alpha-black-light-80: #000000cc;
$alpha-black-light-90: #000000e5;
$alpha-black-light-100: #000000;

$alpha-white-light-10: #ffffff1a;
$alpha-white-light-20: #ffffff33;
$alpha-white-light-30: #ffffff4d;
$alpha-white-light-40: #ffffff66;
$alpha-white-light-50: #ffffff80;
$alpha-white-light-60: #ffffff99;
$alpha-white-light-70: #ffffffb2;
$alpha-white-light-80: #ffffffcc;
$alpha-white-light-90: #ffffffe5;
$alpha-white-light-100: #ffffff;

$alpha-black-dark-10: #ffffff1a;
$alpha-black-dark-20: #ffffff33;
$alpha-black-dark-30: #ffffff4d;
$alpha-black-dark-40: #ffffff66;
$alpha-black-dark-50: #ffffff80;
$alpha-black-dark-60: #ffffff99;
$alpha-black-dark-70: #ffffffb2;
$alpha-black-dark-80: #ffffffcc;
$alpha-black-dark-90: #ffffffe5;
$alpha-black-dark-100: #ffffff;

$alpha-white-dark-10: #0c111d1a;
$alpha-white-dark-20: #0c111d33;
$alpha-white-dark-30: #0c111d4d;
$alpha-white-dark-40: #0c111d66;
$alpha-white-dark-50: #0c111d80;
$alpha-white-dark-60: #0c111d99;
$alpha-white-dark-70: #0c111db2;
$alpha-white-dark-80: #0c111dcc;
$alpha-white-dark-90: #0c111de5;
$alpha-white-dark-100: #0c111d;

$brand-25: #fafdff;
$brand-50: #f0f8ff;
$brand-100: #e0f0fe;
$brand-200: #b9e2fe;
$brand-300: #7cccfd;
$brand-400: #36b4fa;
$brand-500: #0c9aeb;
$brand-600: #0072bc;
$brand-700: #0160a3;
$brand-800: #065286;
$brand-900: #0b456f;
$brand-950: #072b4a;

$error-25: #fffbfa;
$error-50: #fef3f2;
$error-100: #fee4e2;
$error-200: #fecdca;
$error-300: #fda29b;
$error-400: #f97066;
$error-500: #f04438;
$error-600: #d92d20;
$error-700: #b42318;
$error-800: #912018;
$error-900: #7a271a;
$error-950: #55160c;

$success-25: #f6fef9;
$success-50: #ecfdf3;
$success-100: #dcfae6;
$success-200: #a9efc5;
$success-300: #75e0a7;
$success-400: #47cd89;
$success-500: #17b26a;
$success-600: #079455;
$success-700: #067647;
$success-800: #085d3a;
$success-900: #074d31;
$success-950: #053321;

$warning-25: #fffcf5;
$warning-50: #fffaeb;
$warning-100: #fef0c7;
$warning-200: #fedf89;
$warning-300: #fec84b;
$warning-400: #fdb022;
$warning-500: #f79009;
$warning-600: #dc6803;
$warning-700: #b54708;
$warning-800: #93370d;
$warning-900: #7a2e0e;
$warning-950: #4e1d09;

$gray-darkMode-25: #fafafa;
$gray-darkMode-50: #f5f5f6;
$gray-darkMode-100: #f0f1f1;
$gray-darkMode-200: #ececed;
$gray-darkMode-300: #cecfd2;
$gray-darkMode-400: #94969c;
$gray-darkMode-500: #85888e;
$gray-darkMode-600: #61646c;
$gray-darkMode-700: #333741;
$gray-darkMode-800: #1f242f;
$gray-darkMode-900: #161b26;
$gray-darkMode-950: #0c111d;

$gray-lightMode-25: #fcfcfd;
$gray-lightMode-50: #f9fafb;
$gray-lightMode-100: #f2f4f7;
$gray-lightMode-200: #eaecf0;
$gray-lightMode-300: #d0d5dd;
$gray-lightMode-400: #98a2b3;
$gray-lightMode-500: #667085;
$gray-lightMode-600: #475467;
$gray-lightMode-700: #344054;
$gray-lightMode-800: #1d2939;
$gray-lightMode-900: #101828;
$gray-lightMode-950: #0c111d;