// Dimensions
$gutter: 20px;
$site-max-width: 1030px;
$border-radius: 5px;

$large-device-width: 940px;
$extra-large-device-width: 1320px;

//fonts
$font-size-disp-2xl: 4.5rem !default;
$font-size-disp-xl: 3.75rem !default;
$font-size-disp-lg: 3rem !default;
$font-size-disp-md: 2.25rem !default;
$font-size-disp-sm: 1.875rem !default;
$font-size-disp-xs: 1.5rem !default;
$font-size-text-xl: 1.25rem !default;
$font-size-text-lg: 1.125rem !default;
$font-size-text-md: 1rem !default;
$font-size-text-sm: 0.875rem !default;
$font-size-text-xs: 0.75rem !default;

$line-height-disp-2xl: 5.625rem !default;
$line-height-disp-xl: 4.5rem !default;
$line-height-disp-lg: 3.75rem !default;
$line-height-disp-md: 2.75rem !default;
$line-height-disp-sm: 2.375rem !default;
$line-height-disp-xs: 2rem !default;
$line-height-text-xl: 1.875rem !default;
$line-height-text-lg: 1.75rem !default;
$line-height-text-md: 1.5rem !default;
$line-height-text-sm: 1.25rem !default;
$line-height-text-xs: 1.125rem !default;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//main colors bg and primary
$main-bg-color: #FFFFFF;
$sec-bg-color: #F8F9FB;

$clr-primary: #0072BC;
$clr-secondary: #7E8299;
$clr-error: #F1416C;
$clr-warning: #B54708;
$clr-success: #47BE7D;

$clr-container-primary: #F1FAFF;
$clr-container-secondary: #F5F8FA;
$clr-container-error: #FFF5F8;
$clr-container-warning: #FFFAEB;
$clr-container-success: #E8FFF3;

// Text color
$main-text-color: #464E5F;
$secondary-color-text: #B5B5C3;
$menu-text-color: #78829D;

//Bg Color
$selected-menu-bg-color: #F4F5F9;

//Page Padding
$page-padding: 40px;

// fixed header height
$header-height: 80px;

// fixed footer height
$footer-height: 42px;

//fixed page title
$page-title-height: 90px;

// fixed left navigation width
$left-navigation-width: 300px;
$left-navigation-width-collapsed: 80px;

// left navigation branding height
$left-navigation-branding-height: 80px;

// tabs height
$tabs-height : 45px;

// Application Tab Configuration
$in-app-tab-width : 250px;
$in-app-tab-height : 36px;

// Page Title Configuration
$page-title-height : 64px;

// drawer width
$drawer-width : 25rem;

$font-family: 'Inter', 'Poppins', 'Roboto', 'Open Sans', sans-serif;

// chart height
$chart-height: 500px;

// width
$width-xxs: 20rem;
$width-xs: 24rem;
$width-sm: 30rem;
$width-md: 35rem;
$width-lg: 40rem;
$width-xl: 48rem;
$width-2xl: 64rem;
$width-3xl: 80rem;
$width-4xl: 90rem;
$width-5xl: 100rem;
$width-6xl: 120rem;

// spacing
$spacing-none: 0rem;
$spacing-xxs: 0.125rem;
$spacing-xs: 0.25rem;
$spacing-sm: 0.375rem;
$spacing-md: 0.5rem;
$spacing-lg: 0.75rem;
$spacing-xl: 1rem;
$spacing-2xl: 1.25rem;
$spacing-3xl: 1.5rem;
$spacing-4xl: 2rem;
$spacing-5xl: 2.5rem;
$spacing-6xl: 3rem;
$spacing-7xl: 4rem;
$spacing-8xl: 5rem;
$spacing-9xl: 6rem;
$spacing-10xl: 8rem;
$spacing-11xl: 10rem;

// radius
$radius-none: 0rem;
$radius-xxs: 0.125rem;
$radius-xs: 0.25rem;
$radius-sm: 0.375rem;
$radius-md: 0.5rem;
$radius-lg: 0.625rem;
$radius-xl: 0.75rem;
$radius-2xl: 1rem;
$radius-3xl: 1.25rem;
$radius-4xl: 1.5rem;
$radius-full: 624.9375rem;

// padding , max-width
$container-padding-mobile: 1rem;
$container-padding-desktop: 2rem;
$paragraph-max-width: 45rem;
$container-max-width-desktop: 80rem;

// shadow variables

$Shadows__shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
$Shadows__shadow-sm: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
$Shadows__shadow-md: 0px 2px 4px rgba(16, 24, 40, 0.06), 0px 4px 8px rgba(16, 24, 40, 0.1);
$Shadows__shadow-lg: 0px 4px 6px rgba(16, 24, 40, 0.03), 0px 12px 16px rgba(16, 24, 40, 0.08);
$Shadows__shadow-xl: 0px 8px 8px rgba(16, 24, 40, 0.03), 0px 20px 24px rgba(16, 24, 40, 0.08);
$Shadows__shadow-2xl: 0px 24px 48px rgba(16, 24, 40, 0.18);
$Shadows__shadow-3xl: 0px 32px 64px rgba(16, 24, 40, 0.14);
$FocusRings__ring-brand: 0px 0px 0px #f0f8ff;
$FocusRings__ring-brand-shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--utilityBrand-50, #F0F8FF);
$FocusRings__ring-brand-shadow-sm: 0px 1px 2px rgba(16, 24, 40, 0.06), 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 0px 0px rgba(12, 154, 235, 0.24);
$FocusRings__ring-gray: 0px 0px 0px 4px rgba(152, 162, 179, 0.14);
$FocusRings__ring-gray-secondary: 0px 0px 0px rgba(152, 162, 179, 0.2);
$FocusRings__ring-error: 0px 0px 0px rgba(240, 68, 56, 0.24);
$FocusRings__ring-gray-shadow-xs: 0px 0px 0px rgba(152, 162, 179, 0.14), 0px 1px 2px rgba(16, 24, 40, 0.05);
$FocusRings__ring-gray-shadow-sm: 0px 0px 0px rgba(152, 162, 179, 0.14), 0px 1px 2px rgba(16, 24, 40, 0.06), 0px 1px 3px rgba(16, 24, 40, 0.1);
$FocusRings__ring-error-shadow-xs: 0px 0px 0px rgba(240, 68, 56, 0.24), 0px 1px 2px rgba(16, 24, 40, 0.05);
$backdrop-blur-sm: blur(4px);
$backdrop-blur-md: blur(8px);
$backdrop-blur-lg: blur(12px);
$backdrop-blur-xl: blur(20px);

// scroll bar
$scrollbar-vr-width-medium: 4px;
$scrollbar-hr-height-medium: 4px;