@import '@/styles/mixins/mediaquery.scss';
@import '@/styles/mixins/lineheight.scss';
@import '@/styles/mixins/fontsize.scss';
@import '@/styles/_variables';
@import '@/styles/mixins/width.scss';
@import '@/styles/mixins/padding.scss';
@import '@/styles/mixins/margin.scss';
@import '@/styles/themes/theme.scss';
@import "tailwindcss";

.root {
    --max-width: 1100px;
    --border-radius: 12px;
}

* {
    box-sizing: border-box;
    min-width: 0;
    font-family: $font-family;
}

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: --$radius-lg;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--backgroundBgQuaternary);
    border-radius: $radius-lg;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--backgroundBgQuaternary);
}

.html,
.body,
body {
    max-width: 100vw;
    // overflow: hidden;
    margin: 0;
    position: relative;
    min-height: 100vh;
    overscroll-behavior: none; // Apply to the element that you want to disable elastic scrolling for */
}

// Show element only in desktop (above 1024)
@include mediaquery(lg, max) {
    .only-desktop {
        display: none !important;
    }
}

// Show element only in mobile
@include mediaquery(md, min) {
    .only-mobile {
        display: none !important;
    }
}

// Hide element on mobile
@include mediaquery(md, max) {
    .not-mobile {
        display: none !important;
    }
}

// Hide element in desktop
@include mediaquery(lg) {
    .not-desktop {
        display: none !important;
    }
}

// Tooltip related css
/* START TOOLTIP STYLES */
[tooltip] {
    position: relative;
    /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    /* opinion 2 */
    font-size: $font-size-text-sm;
    /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: '';
    border: 5px solid transparent;
    /* opinion 4 */
    z-index: 1001;
    /* absurdity 1 */
}

[tooltip]::after {
    content: attr(tooltip);
    /* magic! */

    /* most of the rest of this is opinion */
    text-align: center;

    /*
        Let the content set the size of the tooltips
        but this will also keep them from being obnoxious
        */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em var(--black);
    background: var(--black);
    color: var(--bgColor);
    z-index: 1000;
    /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

/* FLOW: UP */
[tooltip]:not([direction])::before,
[tooltip][direction^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: var(--black);
}

[tooltip]:not([direction])::after,
[tooltip][direction^="up"]::after {
    bottom: calc(100% + 5px);
}

[tooltip]:not([direction])::before,
[tooltip]:not([direction])::after,
[tooltip][direction^="up"]::before,
[tooltip][direction^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][direction^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: var(--black);
}

[tooltip][direction^="down"]::after {
    top: calc(100% + 5px);
}

[tooltip][direction^="down"]::before,
[tooltip][direction^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][direction^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: var(--black);
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
}

[tooltip][direction^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][direction^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: var(--black);
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
}

[tooltip][direction^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}

/* FX All The Things */
[tooltip]:not([direction]):hover::before,
[tooltip]:not([direction]):hover::after,
[tooltip][direction^="up"]:hover::before,
[tooltip][direction^="up"]:hover::after,
[tooltip][direction^="down"]:hover::before,
[tooltip][direction^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][direction^="left"]:hover::before,
[tooltip][direction^="left"]:hover::after,
[tooltip][direction^="right"]:hover::before,
[tooltip][direction^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}


.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.vh-100 {
    height: 100vh;
}

.w-50 {
    width: 50%;
}


.width-33 {
    @include width(33);
}

.width-50 {
    @include width(50);
}

.width-75 {
    @include width(75);
}

.width-100 {
    @include width(100);
}

.padding-8 {
    @include padding(8);
}

.pb-8 {
    @include padding(8, 'px', 'b');
}

.pt-8 {
    @include padding(8, 'px', 't');
}

.pr-8 {
    @include padding(8, 'px', 'r');
}

.pl-8 {
    @include padding(8, 'px', 'l');
}

.margin-8 {
    @include margin(8);
}

.mb-8 {
    @include margin(8, 'px', 'b');
}

.mt-8 {
    @include margin(8, 'px', 't');
}

.mr-8 {
    @include margin(8, 'px', 'r');
}

.ml-8 {
    @include margin(8, 'px', 'l');
}

.flex-1 {
    flex: 1;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-none {
    cursor: none;
}

.clr-primary {
    color: var(--primaryColor);
}

.clr-disabled {
    color: var(--lightGrey);
}


@media print {

    /* Hide all content when printing */
    body * {
        display: none;
    }

    /* Display a message when printing */
    body::before {
        content: "Printing this page is not allowed.";
        display: block;
        text-align: center;
        font-size: $font-size-text-lg;
        color: var(--errorColor);
    }
}


.actions-wrap {
    display: flex;
    border-left: none;
    border-top: none;
    gap: 8px;
    justify-content: space-evenly;
    width: 100%;
}

.card {
    background-color: var(--bgColor);
    border-radius: 12px;
    border: 2px solid var(--toggleStroke);
}

.divider {
    border-bottom: 1px solid var(--borderColor);
}

.title-divider {
    border: 1px solid var(--borderSecondary);
    margin: 20px 0;
}
.overflow-hidden {
    overflow: hidden;
}

// Class represent width of container based on different devices
.site-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include mediaquery(lg) {
        width: $large-device-width;
    }

    @include mediaquery(xl) {
        width: $extra-large-device-width;
    }
}

.regular {
    font-weight: $font-weight-regular;
}

.medium {
    font-weight: $font-weight-medium;
}

.semi-bold {
    font-weight: $font-weight-semi-bold;
}

.bold {
    font-weight: $font-weight-bold;
}

.disp-none {
    display: none;
}

.disp-2xl {
    font-size: $font-size-disp-2xl;
    line-height: $line-height-disp-2xl;
    letter-spacing: 2%;
}

.disp-xl {
    font-size: $font-size-disp-xl;
    line-height: $line-height-disp-xl;
    letter-spacing: 2%;
}

.disp-lg {
    font-size: $font-size-disp-lg;
    line-height: $line-height-disp-lg;
    letter-spacing: 2%;
}

.disp-md {
    font-size: $font-size-disp-md;
    line-height: $line-height-disp-md;
    letter-spacing: 2%;
}

.disp-sm {
    font-size: $font-size-disp-sm;
    line-height: $line-height-disp-sm;
}

.disp-xs {
    font-size: $font-size-disp-xs;
    line-height: $line-height-disp-xs;
}

.text-xl {
    font-size: $font-size-text-xl;
    line-height: $line-height-text-xl;
}

.text-lg {
    font-size: $font-size-text-lg;
    line-height: $line-height-text-lg;
}

.text-md {
    font-size: $font-size-text-md;
    line-height: $line-height-text-md;
}

.text-sm {
    font-size: $font-size-text-sm;
    line-height: $line-height-text-sm;
}

.text-xs {
    font-size: $font-size-text-xs;
    line-height: $line-height-text-xs;
}

.error-message {
    color: var(--textErrorPrimary);
    font-size: $font-size-text-xs;
    margin-top: $spacing-xs;
    max-width: 400px;
}

// shadow classes

.Shadows__shadow-xs {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.Shadows__shadow-sm {
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
}

.Shadows__shadow-md {
    box-shadow: 0px 2px 4px rgba(16, 24, 40, 0.06), 0px 4px 8px rgba(16, 24, 40, 0.1);
}

.Shadows__shadow-lg {
    box-shadow: 0px 4px 6px rgba(16, 24, 40, 0.03), 0px 12px 16px rgba(16, 24, 40, 0.08);
}

.Shadows__shadow-xl {
    box-shadow: 0px 8px 8px rgba(16, 24, 40, 0.03), 0px 20px 24px rgba(16, 24, 40, 0.08);
}

.Shadows__shadow-2xl {
    box-shadow: 0px 24px 48px rgba(16, 24, 40, 0.18);
}

.Shadows__shadow-3xl {
    box-shadow: 0px 32px 64px rgba(16, 24, 40, 0.14);
}

.FocusRings__ring-brand {
    box-shadow: 0px 0px 0px #f0f8ff;
}

.FocusRings__ring-brand-shadow-xs {
    box-shadow: 0px 0px 0px #f0f8ff, 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.FocusRings__ring-brand-shadow-sm {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.06), 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 0px 0px rgba(12, 154, 235, 0.24);
}

.FocusRings__ring-gray {
    box-shadow: 0px 0px 0px rgba(152, 162, 179, 0.14);
}

.FocusRings__ring-gray-secondary {
    box-shadow: 0px 0px 0px rgba(152, 162, 179, 0.2);
}

.FocusRings__ring-error {
    box-shadow: 0px 0px 0px rgba(240, 68, 56, 0.24);
}

.FocusRings__ring-gray-shadow-xs {
    box-shadow: 0px 0px 0px rgba(152, 162, 179, 0.14), 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.FocusRings__ring-gray-shadow-sm {
    box-shadow: 0px 0px 0px rgba(152, 162, 179, 0.14), 0px 1px 2px rgba(16, 24, 40, 0.06), 0px 1px 3px rgba(16, 24, 40, 0.1);
}

.FocusRings__ring-error-shadow-xs {
    box-shadow: 0px 0px 0px rgba(240, 68, 56, 0.24), 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.Backdrop-blurs__backdrop-blur-sm {
    backdrop-filter: blur(4px);
}

.Backdrop-blurs__backdrop-blur-md {
    backdrop-filter: blur(8px);
}

.Backdrop-blurs__backdrop-blur-lg {
    backdrop-filter: blur(12px);
}

.Backdrop-blurs__backdrop-blur-xl {
    backdrop-filter: blur(20px);
}

.table-wrapper {
    .rdt_Table {
        .rdt_TableHead {
            .rdt_TableHeadRow {
                border: none;
                background-color: var(--backgroundBgSecondary);
                color: var(--textPlaceholder);
                border-bottom: 1px solid var(--borderSecondary);
                font-size: $font-size-text-xs;
                font-style: normal;
                font-weight: $font-weight-medium;
                line-height: $line-height-text-xs;
                position: sticky;
                top: 0;
            }
        }

        .rdt_TableRow {
            color: var(--textQuaternary);
            font-size: $font-size-text-sm;
            font-style: normal;
            font-weight: $font-weight-regular;
            line-height: $line-height-text-sm;
            border-bottom: 1px solid var(--borderSecondary);
            padding: $spacing-xl 0;
            background-color: var(--backgroundBgPrimary);
            color: var(--textPlaceholder);

            &:last-child {
                border-bottom: 1px solid transparent;
            }
        }

        // .rdt_TableCol:last-child,
        // .rdt_TableCell:last-child {
        //     position: sticky;
        //     right: 0;
        // }

        .rdt_TableCol:last-child {
            background-color: var(--backgroundBgSecondary);
        }

        // .rdt_TableCell:last-child {
        //     background-color: var(--backgroundBgPrimary);
        // }

    }

    &.row-cursor {
        .rdt_TableRow {
            cursor: pointer;

            &:hover {
                background-color: var(--backgroundBgTertiary);
            }
        }
    }
}

.rbc-calendar,
.rbc-overlay {
    color: var(--textPrimary) !important;
    background-color: var(--backgroundBgSecondary) !important;

    * {
        border-color: var(--borderPrimary) !important;
    }
}

.rbc-off-range {
    color: var(--textQuaternary) !important;
}

.rbc-off-range-bg {
    background: var(--backgroundBgTertiary) !important;
}

.rbc-today {
    background-color: var(--backgroundBgPrimary) !important;
}

.rbc-timeslot-group {
    min-height: 60px !important;

    .rbc-time-slot {
        min-height: 100px !important;
    }
}

.rbc-event {
    position: relative;
    width: 100% !important;
    left: 0 !important;
}

.label {
    color: var(--utilityGray-700);
}

.ace_editor, .ace_editor div {
    font-family: monospace;
}

.margin-0 {
    margin: 0;
}